.container {
	display: block;
}

.header {
	padding-left: 390px;
	background-color: #6318af;
	width: 99vw;
	height: 225px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.backToHome {
	margin: 3rem 0 0;
}

.footer {
	height: 650px;
	width: 99vw;
	background-image: url('/public/images/Footer.jpg');
	padding-left: 390px;
	position: relative;
	left: 0;
	bottom: 0;
	right: 0;
}

.textContainer {
	display: flex;
	flex-direction: row;
	gap: 150px;
	align-items: top;
	padding-top: 100px;
}

.linkList {
	display: flex;
	flex-direction: column;
	gap: 5px;
	color: #ffffff;
	max-width: 210px;
	position: relative;
	padding-top: 45px;
}

.main {
	position: relative;
	z-index: 1;
}
