html,
body {
	padding: 0;
	margin: 0;
	font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto;
}

* {
	box-sizing: border-box;
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ol {
	counter-reset: item;
	list-style-type: none;
}
li {
	display: block;
	
}
li:before {
	content: counter(item) '  ';
	counter-increment: item;
}
